html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 1em 4em;
  border-right: 1px solid #d1d5da;
  border-left: 1px solid #d1d5da;
  min-height: 100vh;
}
img {
  max-width: 100%;
}
a,
a:active {
  color: #0366d6;
  text-decoration: none;
}
a[name] {
  color: unset;
}
a.top {
  float: right;
  margin-right: 10px;
  text-decoration: none;
  color: #ccc;
}
.markdown-body table {
  border-collapse: collapse;
}
.markdown-body {
  word-wrap: break-word;
}
.markdown-body .task-list-item {
  list-style: none;
}
.markdown-body .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

x-error {
  background: none repeat scroll 0 0 #f00;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}
x-note {
  display: block;
  padding: 0.5em;
  background-color: #ff6;
  box-shadow: 0px 0px 5px 2px #ff0;
}
